:root {
  --page-max-width: 40em;
	--body-text: black;
	--body-background: white;
	--link-text: royalblue;
	--header-background: purple;
	--content-focus-full: rgba(128, 0, 128, .5);
	--content-focus-null: rgba(128, 0, 128, 0);
	--code-border: #666;
	--code-text: rebeccapurple;
	--code-background: whitesmoke;
  --code-shadow-strength: .2;
	--kbd-text: hsl(339, 65%, 49%);
	--figure-border: hsla(270, 50%, 40%, 0.7);
	--figure-background: hsla(270, 50%, 40%, 0.2);
	--figure-img-border: #666;
  --warning-border: hsla(0, 50%, 40%, 0.7);
  --warning-background: hsla(0, 50%, 40%, 0.2);
  --note-border: var(--figure-border);
  --note-background: var(--figure-background);
  --section-border: var(--header-background);
}

@media (prefers-color-scheme: dark) {
	:root {
    --body-text: hsl(240, 67%, 94%);
		--body-background: hsl(260, 15%, 16%);
    --link-text: hsl(269, 33%, 69%);
		--header-background: hsl(268, 22%, 46%);
		--content-focus-full: hsla(262, 16%, 57%, .7);
		--content-focus-null: hsla(262, 16%, 57%, 0);
		--code-border: #000;
		--code-text: hsl(270, 59%, 74%);
		--code-background: #191A19;
    --code-shadow-strength: .6;
		--kbd-text: hotpink;
		--figure-border: var(--content-focus-full);
		--figure-background: hsl(260, 16%, 23%);
		--figure-img-border: hsl(263, 17%, 69%);
  }
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    padding: 0 1em;
    background: var(--body-background);
}

body {
    margin: 3em auto;
    max-width: var(--page-max-width);
    color: var(--body-text);
    font-family: sans-serif;
    line-height: 1.5;
}

main section:not(.note):not(.warning) {
    margin-top: 3em;
    padding-top: 3em;
    border-top: .25em solid var(--section-border);
}

main h2 ~ section:not(.note):not(.warning) {
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top-width: .125em;
}

article > header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

article > header p {
    margin: 0;
}

article > section:not(.note):not(.warning) {
    margin-top: 3em;
    padding-top: 1em;
    border-top: .25em solid var(--section-border);
}

footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: .25em solid var(--section-border);
}

a {
    color: var(--link-text);
}

a code {
	padding: inherit;
	border: none;
	color: inherit;
	line-height: inherit;
	text-decoration: underline;
	vertical-align: text-bottom;
	background: inherit;
}

pre,
code,
kbd {
    display: inline-block;
    padding: .125em .25em;
    border: .0675em solid var(--code-border);
    border-radius: .25em;
    color: var(--code-text);
    font-family: "Courier", monospace;
    font-size: .9em;
    font-weight: 700;
    line-height: 1.25;
    background: var(--code-background);
}

pre {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    background:
        /* Shadow covers */
        linear-gradient(to right, var(--code-background) 25%, rgba(245, 245, 245, 0)),
        linear-gradient(to left, var(--code-background) 25%, rgba(245, 245, 245, 0)) 100% 0,

        /* Shadows */
        linear-gradient(to right, rgba(0,0,0,var(--code-shadow-strength)), rgba(0,0,0,0)),
        linear-gradient(to left, rgba(0,0,0,var(--code-shadow-strength)), rgba(0,0,0,0)) 100% 0;
    background-size:
        4em 100%,
        4em 100%,
        1em 100%,
        1em 100%;
    background-attachment:
        local,
        local,
        scroll,
        scroll;
    background-repeat: no-repeat;
    background-color: var(--code-background);
}

pre > code {
    padding: unset;
    border: unset;
    border-radius: unset;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    background: transparent;
}

kbd {
  color: var(--kbd-text);
}

img {
    max-width: 100%;
}

figure {
	margin: 1em 0;
	padding: 1em;
	border-left: .5em solid var(--figure-border);
	background: var(--figure-background);
}

figure > img {
	padding: .125em .25em;
	border: .0675em solid var(--figure-img-border);
	border-radius: .25em;
}

figcaption {
	margin-top: .5em;
	font-style: italic;
}

p > em > strong {
    color: darkred; /* Forget what/where this is used (for) */
}

.at-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.experimental-code {
    display: block;
    margin: 0;
    padding: .25em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 299792458; /* Speed of light in m/s */
    color: darkred;
    font-weight: 700;
    text-align: center;
    background: repeating-linear-gradient(45deg, #f1ce06 1em, #f1ce06 2em, black 2em, black 3em);
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.experimental-code span {
    padding: .25em .5em;
    border-radius: 1em;
    background: #fff;
}

.warning,
.note {
    margin: 1em 0;
    padding: 1em;
    border-left: 0.5em solid;
}

:is(.warning, .note) :is(h3, h4) {
  font-size: 1em;
}

:is(.warning, .note) :first-child {
  margin-top: 0;
}

:is(.warning, .note) :last-child {
  margin-bottom: 0;
}

.warning {
    border-left-color: var(--warning-border);
    background: var(--warning-background);
}

.note {
    border-left-color: var(--note-border);
    background: var(--note-background);
}

:is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
}

/* Footnotes */
[href^="#fn"] {
    font-size: .75em;
    vertical-align: super;
}

[href^="#fn"]::before {
    content: '[';
}

[href^="#fn"]::after {
    content: ']';
}

/* DL */
dt {
    font-weight: 700;
}

dd {
    margin-left: .5em;
}
